<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="SqlConnection" 
             connectionString="Data Source=Denuwan\SQLEXPRESS;Initial Catalog=LoanManagement;User ID=sa;Password=admin@123;Encrypt=False" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>