<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SqlConnection" 
             connectionString="Data Source=Denuwan\SQLEXPRESS;Initial Catalog=LoanManagement;User ID=sa;Password=admin@123;Encrypt=False" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
